*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body {
    background: #d4bdde;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    }
.container {
  margin: 15px 0px;
  border-radius: 10px;
  width: 100%;
  height: 670px;
  background-color: white;
  border: 5px solid black;
  padding: 0 111px;
  overflow: hidden;

    }

.container .first1{
    margin: 15px 0px;
    width: 100%;
    padding: 0 245px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container .second1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 190px;
    margin: 10px 0;

}



.chart{
    padding: 2rem;
    border: 1px solid #f49131;
    border-radius: 1rem;
    background: #cecbd3;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
}


  
  
  
  html{
    scroll-behavior: smooth;
  }
  

  
  :root{
    --blue:   #1EBAB9ff;
    --black: #0D3E4Bff;
    --red: #F45B46ff;
    --bblue:  rgb(34, 92, 106);
  }
  
  



  
 .first{
    width: 100%;
    height: 67px;
    display: flex;
    justify-content: space-between;
    background-color: var(--bblue);
  }
  
.first .one{
    margin-left: 10px;
  }
  
.first .one img{
    margin-top: 5px;
    margin-left: 10px;
  }
  
.first .one span{
    position: relative;
    right: 48px;
    top: 15px;
    color: var(--white);
    font-weight: bold;
  }
  
.first .two{
    width: 200px;
  }
  
.first .two .a{
    position: relative;
    top: 23px;
    right: -43px;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
.first .two .a::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: all .5s;
  }
  
.first .two .a:hover::before{
    width: 100%;
  }
  
.first .two .a:hover{
    color: white;
  }
  
  
  
.first .two span{
    margin: 7px;
  }
  
  .two ul{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 1497px;
    bottom: 670px;
    display: none;
  
  }
  .two li {
    list-style-type: none;
    width: 100%;
    padding: 5px;
    box-shadow: 2px 2px 0 black;
    background-color: var(--blue);
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    text-align: center;
  
  }
  
  
  .two li:hover{
    background-color: #b7fff9;
  }
  
  .two a:hover + ul {
    display: block;
  }
  
  .two ul:hover{
    display: block;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .tabular--wrapper{
      background: #fff;
      width: 88%;
      margin-top: 1em;
      padding: 2rem;
      position: absolute;
      top: 308px;
      background-color: var(--bblue);
      left: 153px;
  }
  
  
  .table-container {
      width: 100%;
  }
  
  table{
      width: 100%;
      border-collapse: collapse;
  }
  
  thead {
  background: var(--blue);
  color: #fff;
  }
  
  th{
  padding: 15px;
  text-align: left;
  }
  
  tbody{
      background: white;
  }
  
  td{
      padding: 15px;
      font-size: 14px;
      color: black;
  }
  
  tr:nth-child(even){
      background: white;
  }
  
  tfoot {
      background: rgba(113, 99, 186, 255);
      font-weight: bold;
      color: #fff;
  }
  
  tfoot td {
      padding: 15px;
  }
  
  
  
  .yarab{
      position: absolute;
      left: 242px;
      top: 160px;
      width: 75%;
  }
  
  .search{
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 36px;
      margin-bottom: 40px;
  }
  
  .search .bars input {
      width: 203px;
      height: 45px;
      margin-top: 10px;
      padding: 12px;
      border-radius: 12px;
      border: 1.5px solid lightgrey;
      outline: none;
      transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
      box-shadow: 0px 0px 20px -18px;
  }
    
  .search .bars input:hover {
      border: 2px solid lightgrey;
      box-shadow: 0px 0px 20px -17px;
  }
    
  .search .bars input:active {
      transform: scale(0.95);
  }
    
  .search .bars input:focus {
      border: 2px solid grey;
  }
  
  
  
  .account{
      /* backdrop-filter: blur(100px);  */
      background-color: var(--black);
      width: 600px;
      height: 770px;
      margin: auto;
      position: fixed;
      top: 13px;
      right: 463px;
      display: flex;
      flex-direction: column;
      align-items: center;
      display: none;
  }
  
  .account i{
      color: white;
      font-size: 30px;
      font-weight: bold;
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
      position: relative;
      top: 10px;
      right: 10px;
  }
  
  
  .account img{
      margin: 10px 0;
      border-radius: 50%;
  
  }
  
  input[type="file"]{
  display: none;
  }
  
  .image{
      margin: 10px 0;
      position: relative;
      right: -187px;
  }
  .image label{
      display: inline-block;
      text-transform: uppercase;
      color: #fff;
      background: var(--bblue);
      text-align: center;
      padding: 10px 40px;
      font-size: 15px;
      letter-spacing: 1.5px;
      user-select: none;
      cursor: pointer;
      box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);
      border-radius: 10px;
  }
  
  .editable-text-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 10px 0px;
      width: 100%;
      padding: 0 37px;
  }
  
  .details {
      font-weight: bold;
      margin: 0 10px 0px 0px;
  }
  
  
  
  
  .account .input-field:focus,
  .account .input-field:valid {
      border-color: var(--bblue);
  }
  
  .input_box{
      color: white;
  }
  
  .edit-btn, .done-btn {
      width: 68px;
      padding: 7px;
      text-align: center;
      outline: none;
      color: white;
      font-weight: bold;
      border: none;
      font-size: 15px;
      letter-spacing: 1px;
      border-radius: 10px;
      background: var(--bblue);
      transition: all 0.3s ease-in-out;
  }
  .input-field {
      height: 15px;
      outline: none;
      border-radius: 10px;
      border: 2px solid #d9d8d8;
      padding: 15px;
      font-size: 16px;
      border-bottom-width: 2px;
      display: none;
  }
  
  
  .radio-container {
      width: 300px;
      position: relative;
      left: 146px;
      top: 10px;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
    
  .radio-wrapper {
      margin-bottom: 20px;
    }
    
  .radio-button {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }
    
  .radio-button:hover {
      transform: translateY(-5px);
    }
    
  .radio-button input[type="radio"] {
      display: none;
    }
    
  .radio-checkmark {
      display: inline-block;
      position: relative;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      border: 2px solid var(--bblue);
      border-radius: 50%;
    }
    
  .radio-checkmark:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--bblue);
      transition: all 0.2s ease-in-out;
    }
    
  .radio-button input[type="radio"]:checked ~ .radio-checkmark:before {
      transform: translate(-50%, -50%) scale(1);
    }
    
  .radio-label {
      font-size: 16px;
      font-weight: 600;
    }
    
  .shift{
      display: flex;
      justify-content: space-around;
  }
  
  .select {
      margin: 10px 0;
      width: fit-content;
      cursor: pointer;
      position: relative;
      left: -19px;
      transition: 300ms;
      color: white;
      overflow: hidden;
    }
    
  .selected {
      background-color: var(--bblue);
      padding: 5px;
      margin-bottom: 3px;
      border-radius: 5px;
      position: relative;
      z-index: 100000;
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
  .arrow {
      position: relative;
      right: 0px;
      height: 10px;
      transform: rotate(-90deg);
      width: 25px;
      fill: white;
      z-index: 100000;
      transition: 300ms;
    }
    
  .options {
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      padding: 5px;
      background-color: var(--bblue);
      position: relative;
      top: -100px;
      opacity: 0;
      transition: 300ms;
    }
    
  .select:hover > .options {
      opacity: 1;
      top: 0;
    }
    
  .select:hover > .selected .arrow {
      transform: rotate(0deg);
    }
    
  .option {
      border-radius: 5px;
      padding: 5px;
      transition: 300ms;
      background-color: var(--bblue);
      width: 150px;
      font-size: 15px;
    }
  .option:hover {
      background-color: #608b9d;
    }
    
  .options input[type="radio"] {
      display: none;
    }
    
  .options label {
      display: inline-block;
    }
  .options label::before {
      content: attr(data-txt);
    }
    
  .options input[type="radio"]:checked + label {
      display: none;
    }
    
  .options input[type="radio"]#all:checked + label {
      display: none;
    }
    
  .select:has(.options input[type="radio"]#all:checked) .selected::before {
      content: attr(data-default);
    }
  .select:has(.options input[type="radio"]#option-1:checked) .selected::before {
      content: attr(data-one);
    }
  .select:has(.options input[type="radio"]#option-2:checked) .selected::before {
      content: attr(data-two);
    }
  
  
  
  .select1 {
      margin: 10px 0;
      width: fit-content;
      cursor: pointer;
      position: relative;
      left: -19px;
      transition: 300ms;
      color: white;
      overflow: hidden;
    }
    
  .selected1{
      background-color: var(--bblue);
      padding: 5px;
      margin-bottom: 3px;
      border-radius: 5px;
      position: relative;
      z-index: 100000;
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
  .arrow1 {
      position: relative;
      right: 0px;
      height: 10px;
      transform: rotate(-90deg);
      width: 25px;
      fill: white;
      z-index: 100000;
      transition: 300ms;
    }
    
  .options1 {
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      padding: 5px;
      background-color: var(--bblue);
      position: relative;
      top: -100px;
      opacity: 0;
      transition: 300ms;
    }
    
  .select1:hover > .options1 {
      opacity: 1;
      top: 0;
    }
    
  .select1:hover > .selected1 .arrow1 {
      transform: rotate(0deg);
    }
    
  .option1 {
      border-radius: 5px;
      padding: 5px;
      transition: 300ms;
      background-color: var(--bblue);
      width: 150px;
      font-size: 15px;
    }
  .option1:hover {
      background-color: #608b9d;
    }
    
  .options1 input[type="radio"] {
      display: none;
    }
    
  .options1 label {
      display: inline-block;
    }
  .options1 label::before {
      content: attr(data-txt);
    }
    
  .options1 input[type="radio"]:checked + label {
      display: none;
    }
    
  .options1 input[type="radio"]#all1:checked + label {
      display: none;
    }
    
  .select1:has(.options1 input[type="radio"]#all1:checked) .selected1::before {
      content: attr(data-default);
    }
  .select1:has(.options1 input[type="radio"]#option-11:checked) .selected1::before {
      content: attr(data-one);
    }
  .select1:has(.options1 input[type="radio"]#option-21:checked) .selected1::before {
      content: attr(data-two);
    }
  
    
  
  .tabular--wrapper i{
      font-size: 40px;
      font-weight: bold;
      color: white;
  }
  
  
  
  
  
    .add{
      width: 30%;
      height: 610px;
      position: fixed;
      z-index: 100;
      top: 155px;
      right: 204px;
      background-color: var(--black);
      padding: 10px;
      display: none;
  }
  
  .add i{
      
          color: white;
          font-size: 30px;
          font-weight: bold;
          width: 100%;
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-start;
          position: relative;
          top: 10px;
          right: 10px;
  }   
  
  .add .container2{
      padding: 10px;
  
  }
  
  .add .container2 input{
      height: 40px;
      width: 100%;
      outline: none;
      border-radius: 10px;
      border: 2px solid #d9d8d8;
      padding: 15px;
      font-size: 16px;
      border-bottom-width: 2px;
      transition: all 0.3s ease;
  }
  
  .add .container2 input:focus,
  .add .container2 input:valid {
      border-color: var(--bblue);
  }
  
  .add .radio-container {
      width: 300px;
      position: relative;
      left: 42px;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
    
  .add .radio-wrapper {
      margin-bottom: 20px;
    }
    
  .add .radio-button {
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }
    
  .add .radio-button:hover {
      transform: translateY(-5px);
    }
    
  .add .radio-button input[type="radio"] {
      display: none;
    }
    
  .add .radio-checkmark {
      display: inline-block;
      position: relative;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      border: 2px solid var(--bblue);
      border-radius: 50%;
    }
    
  .add .radio-checkmark:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--bblue);
      transition: all 0.2s ease-in-out;
    }
    
  .add .radio-button input[type="radio"]:checked ~ .radio-checkmark:before {
      transform: translate(-50%, -50%) scale(1);
    }
    
  .add .radio-label {
      font-size: 16px;
      font-weight: 600;
    }
    
  .add .detail{
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
  }
  
  .add .detail span{
      padding: 13px;
      color: white;
  }
  
  .add .container2 .button input{
      height: 40px;
      margin: 20px 0;
      width: 100%;
      font-size: 15px;
      font-weight: bold;
      border-radius: 10px;
      border: none;
      outline: none;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      background: var(--bblue);
  }
  
  .add .container2 .button input:hover {
      transform: translateY(-5px);
      background: var(--black);
  
      border-bottom: 5px solid #608b9d;
  }
  
  
  
  
  
/* CSS */
.main {
    position: relative;
    overflow: hidden;
    margin: 45px 0 0;
}

.form-wrapper {
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
}

.main.active .form-wrapper.right {
    transform: translateY(-1050px);
}

.main .form-wrapper.left {
    position: absolute;
    top: 450px; /* Ensure the left form is initially out of view */
}

.main.active .form-wrapper.left {
    transform: translateY(-1050px);
}

.container .right .prev {
    position: relative;
    /* top: 110px; */
    left: 642px;
}

.container .right .prev a {
    color: var(--bblue);
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.container .right .prev a:hover {
    text-decoration: underline;
}

.container .left .prev1 {
    position: relative;
    padding-top: 10px;
    left: 600px;
    top: 10px;
}

.container .left .prev1 a {
    color: var(--bblue);
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
}

.container .left .prev1 p {
    color: #000000;
}

.container .left .prev1 a:hover {
    text-decoration: underline;
}

.container .second{
  border: 2px solid var(--bblue);
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0 10px 0px;
}

.container .second i{
  color: white;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  position: relative;
  top: 10px;
  right: 10px;
}

.three{
  background-color: var(--bblue);
  padding: 10px;
  height: 430px;
  overflow-y: auto;
}

a i{
  width: 50px;
  height: 50px;
  text-decoration: none;
}
.container .three i{
      
  color: white;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  position: relative;
  top: 10px;
  right: 10px;}


@keyframes slide{
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
  
}

.styled-table{
  animation: slide 0.5s ease-in-out;
}