* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-image: url(../img/background_register.jpg);
}

:root{
    --blue:   #1EBAB9ff;
    --black: #0D3E4Bff;
    --red: #F45B46ff;
    --bblue:  rgb(34, 92, 106);
    }

.header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: var(--bblue);
}

.header .one{
    margin-left: 10px;
}

.header .one img{
    margin-top: 5px;
    margin-left: 10px;
}

.header .two{
    width: 165px;
    position: relative;
    top: 18px;
    right: 20px;
    display: flex;
    justify-content: space-around;
}

.header .two p{
    color: #d9d8d8;
}

.header .two a{
    text-decoration: none;
    color: #d9d8d8;
}


.container {
    width: 629px;
    height: 700px;
    display: flex;
    background: white;
    box-shadow: 5px 5px 20px #000000;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.container .body img{
    position: relative;
    top: 101px;
    left: 169px;
}

.container .body{
    display: flex;
    justify-content: space-between;
}
.container .main{
    padding: 25px 30px;
    width: 600px;
}

.container .body2{
    display: flex;
    justify-content: space-evenly;

}

.container .body2 .first,
.container .body2 .second{
    padding-top: 10px;
}


.container .title {
    font-size: 30px;
    text-align: center;
    padding-bottom: 15px;
    font-weight: bold;
    position: relative;
    color: var(--bblue);
}

.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: var(--bblue);
}

.user_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 9px 0;
}

.input_box {
    margin-bottom: 15px;
    width: 100%;
}

.details {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.container .input_box input {
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: 2px solid #d9d8d8;
    padding: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.container .input_box input:focus,
.container .input_box input:valid {
    border-color: var(--bblue);
}

form .gender_details .gender_title {
    font-size: 20px;
    font-weight: bold;
}

form .JOB_details{
    font-size: 20px;
    font-weight: bold;
}

form .gender_details .choose {
    display: flex;
    width: 50%;
    margin: 8px 0;
    justify-content: space-between;
}

.gender_details .choose label {
    display: flex;
    align-items: center;
}

.dot {
    height: 15px;
    width: 15px;
    background: #26373e;
    border-radius: 50%;
    border: 4px solid transparent;
    transition: all 0.3s ease;
}

.gender {
    padding-left: 18px;
    transform: translateY(-0.3em);
    display: inline-block;
}

#dot-1:checked ~ .choose label .one,
#dot-2:checked ~ .choose label .two {
    border-color: #26373e;
    background: #608b9d;
}

form input[type="radio"] {
    display: none;
}

form .buttom {
    height: 40px;
}

form .buttom input {
    height: 100%;
    position: relative;
    top: 22px;
    width: 100%;
    outline: none;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 10px;
    background: var(--bblue);
    transition: all 0.3s ease-in-out;
}

form .buttom input:hover {
    transform: translateY(-5px) ;
    background: var(--black);
    border-bottom: 5px solid #608b9d;
}

.JOB_details{
    position: relative;
    top: 10px;
}


.select {
    width: fit-content;
    cursor: pointer;
    position: relative;
    transition: 300ms;
    color: white;
    overflow: hidden;
  }
  
.selected {
    background-color: var(--bblue);
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 5px;
    position: relative;
    z-index: 100000;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
.arrow {
    position: relative;
    right: 0px;
    height: 10px;
    transform: rotate(-90deg);
    width: 25px;
    fill: white;
    z-index: 100000;
    transition: 300ms;
  }
  
.options {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--bblue);
    position: relative;
    top: -100px;
    opacity: 0;
    transition: 300ms;
  }
  
.select:hover > .options {
    opacity: 1;
    top: 0;
  }
  
.select:hover > .selected .arrow {
    transform: rotate(0deg);
  }
  
.option {
    border-radius: 5px;
    padding: 5px;
    transition: 300ms;
    background-color: var(--bblue);
    width: 150px;
    font-size: 15px;
  }
.option:hover {
    background-color: #608b9d;
  }
  
.options input[type="radio"] {
    display: none;
  }
  
.options label {
    display: inline-block;
  }
.options label::before {
    content: attr(data-txt);
  }
  
.options input[type="radio"]:checked + label {
    display: none;
  }
  
.options input[type="radio"]#all:checked + label {
    display: none;
  }
  
.select:has(.options input[type="radio"]#all:checked) .selected::before {
    content: attr(data-default);
  }
.select:has(.options input[type="radio"]#option-1:checked) .selected::before {
    content: attr(data-one);
  }
.select:has(.options input[type="radio"]#option-2:checked) .selected::before {
    content: attr(data-two);
  }
.select:has(.options input[type="radio"]#option-3:checked) .selected::before {
    content: attr(data-three);
  }