<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename='css/Login.css')}}">
     <!-- <link rel="stylesheet" href="../static/css/Login.css"> -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="container">

        <form action="/login" , method="post" style="width: 100%;">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

            <div class="header">
                <div class="one">
                    <img src="../static/img/logo.png" alt="logo" width="109px" height="83px">
                </div>
                <div class="two">
                    <p>Contact Us</p>
                    <a href=""><i class='bx bxl-facebook-circle'></i></a>
                    <a href=""><i class='bx bxl-instagram' ></i></a>
                    <a href=""><i class='bx bxl-twitter'></i></a>
                </div>
    
            </div>




            <div class="main">
                <div class="body">
                    <div class="title">Login</div>

                    <div class="user_details">
                        <div class="input_box">
                            <span class="details">User ID</span>
                            <input type="text" name="id" placeholder=" Enter your ID" required>
                        </div>
                    </div>


                    <div class="user_details">
                        <div class="input_box">
                            <span class="details">Password</span>
                            <input type="password" name="password" placeholder=" Enter your Password" required>
                        </div>
                    </div>


                    <button type="submit" class="btn">Login</button>
                    <div class="register_link">
                        <p>Don't Have An Account ? <a href="{{url_for('register')}}">Register</a></p>
                    </div>
                </div>
            </div>

        </form>
    </div>




</body>

</html