<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="../static/css/register_emp.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>

    <div class="container">

        <div class="header">
            <div class="one">
                <img src="../static/img/logo.jpg" alt="logo" width="120px" height="120px">
            </div>
            <div class="two">
                <p>Contact Us</p>
                <a href=""><i class='bx bxl-facebook-circle'></i></a>
                <a href=""><i class='bx bxl-instagram' ></i></a>
                <a href=""><i class='bx bxl-twitter'></i></a>
            </div>

        </div>

        <div class="body">


            <div class="main">
                <div class="title">Sign Up</div>
                <form action="/register_emp" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

                    
                    <div class="body2">
                        <div class="first">
                            <div class="user_details">
                                <div class="input_box">
                                    <span class="details">Name</span>
                                    <input type="text" name="name" placeholder=" Enter your Name" required>
                                </div>
                            </div>

                            <div class="user_details">
                                <div class="input_box">
                                    <span class="details">ID</span>
                                    <input type="text" name="employee_id" placeholder=" Enter your ID" required>
                                </div>
                            </div>


                            <div class="user_details">
                                <div class="input_box">
                                    <span class="details">Email</span>
                                    <input type="text" name="email" placeholder=" Enter your Email" required>
                                </div>
                            </div>

                            <div class="user_details">
                                <div class="input_box">
                                    <span class="details">Password</span>
                                    <input type="password" name="password" placeholder=" Enter your Password" required>
                                </div>
                            </div>


                            <div class="user_details">
                                <div class="input_box">
                                    <span class="details">Confirm your password</span>
                                    <input type="password" name="confirm_password" placeholder="Confirm your password"
                                        required>
                                </div>
                            </div>

                            <div class="buttom">
                                <input type="submit" value="continue">
                            </div>

                        </div>

                        <div class="second">
                            <div class="user_details">
                                <div class="input_box">
                                    <span class="details">Address</span>
                                    <input type="address" name="address" placeholder="Confirm your password" required>
                                </div>
                            </div>

                            <div class="user_details">
                                <div class="input_box">
                                    <span class="details">Age</span>
                                    <input type="address" name="age" placeholder="Confirm your password" required>
                                </div>
                            </div>
                            <div class="user_details">
                                <div class="input_box">
                                    <span class="details">phone Number</span>
                                    <input type="address" name="phone_number" placeholder="Confirm your password"
                                        required>
                                </div>
                            </div>

                            <div class="gender_details">
                                <input type="radio" name="gender" id="dot-1" value="M">
                                <input type="radio" name="gender" id="dot-2" value="F">
                                <span class="gender_title">Gender</span>

                                <div class="choose">

                                    <label for="dot-1">
                                        <span class="dot one">
                                            <span class="gender">Male</span>
                                        </span>
                                    </label>

                                    <label for="dot-2">
                                        <span class="dot two">
                                            <span class="gender">Female</span>
                                        </span>
                                    </label>

                                </div>
                            </div>


                                <div class="JOB_details">
                                    <div class="select">
                                        <div
                                          class="selected"
                                          data-default="Job Title"
                                          data-one="Radiologist"
                                          data-two="Receptionist"
                                          data-three="Physician"
                                          data-four="Clinical Engineer"
                                          data-five="HR"
                                        >
                                          <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            height="1em"
                                            viewBox="0 0 512 512"
                                            class="arrow"
                                          >
                                            <path
                                              d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
                                            ></path>
                                          </svg>
                                        </div>
                                        <div class="options">
                                          <div title="Job Title">
                                            <input id="all" name="option" type="radio" checked="" />
                                            <label class="option" for="all" data-txt="Job Title"></label>
                                          </div>
                                          <div title="Radiologist">
                                            <input id="option-1" name="option" type="radio" />
                                            <label class="option" for="option-1" data-txt="Radiologist"></label>
                                          </div>
                                          <div title="Receptionist">
                                            <input id="option-2" name="option" type="radio" />
                                            <label class="option" for="option-2" data-txt="Receptionist"></label>
                                          </div>
                                          <div title="Physician">
                                            <input id="option-3" name="option" type="radio" />
                                            <label class="option" for="option-3" data-txt="Physician"></label></div>
                                            <div title="Clinical Engineer">
                                            <input id="option-3" name="option" type="radio" />
                                            <label class="option" for="option-3" data-txt="Clinical Engineer"></label></div>
                                            <div title="HR">
                                            <input id="option-3" name="option" type="radio" />
                                            <label class="option" for="option-3" data-txt="HR"></label></div>
                                        
                                        </div>
                                      </div>
                                      
                                </div>

                        </div>
                    </div>





                </form>
            </div>
        </div>
    </div>
</body>

</html>